*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.flex{
  display: flex;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-evenly{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;

}


.container{
  width: 65vw;
  margin: auto;
}

.container-little{
  width: 55vw;
  margin: 0 auto;
}

.fa-sharp{
  font-size: 4rem;
}

h1{
  font-weight: 800;
  font-size: 5rem;
  text-align: start;
  padding: 9rem 0 0 3rem;
  line-height: 100%;
  width: 70vw;
  margin: auto;

}

h2{
  text-align: start;
  margin-bottom: 3rem;
  font-size: 3rem;
  padding-top: 3rem;
}

h3{
  font-size: xx-large;
}

h4{
  font-size: 2rem;
}

h5{
  font-size: 2rem;
}

h6{
  font-size: 1rem;
}

hr{
  width:4rem;
  
}

div.jumbotron p{
  padding: 2rem 0;
}

p.grey{
  padding: 0%;
  color: #999a9c;
}

header{
  height: 5rem;
  background-color: rgb(255, 255, 255);
  padding: 0 1rem;
  position: fixed;
  width: 100vw;
}

section.leftheader span,
section.rightheader span{
  padding: 0 2rem;
  }

button.inizia{
  color: white;
  background-color: #0061ff;
  padding: 0.5rem 1rem;
  border: none;
}


section.jumbo{
  height: 51rem;
  background-color: #b4d0e7;
}

button.download{
  color: white;
  background-color: #0061ff;
  padding: 1rem 2rem;
  border: none;
}

button.moved{
  position: absolute;
  top: 20%;
  right: 3%;
}

div.jumbotron{
  /* border: 2px dashed rgb(0, 0, 0); */
  height: 30rem;
  margin-top: 6rem;
}

div.img-jumbo{
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
}


div.freetry{
  width: 30%;
  /* border: 2px dotted lime; */
}

div.img-jumbo{
  width: 70%;
  /* border: 2px dotted lime; */
}

section.plans{
  margin-top: 10rem;
}

div.input{
  text-align: start;
  margin: 2rem;
}



div.professional, 
div.advanced, 
div.enterprise{
  height: 50rem;
  width: 20rem;
  border: 1px solid #e7e7e9;
  margin: 0 2rem;
  
}

div.team{
  height: 20rem;
  width: 68rem;
  border: 1px solid #e7e7e9;
  margin: 5rem auto;
}

div.singolo{
  text-align: center;
  border-bottom: 1px solid #e7e7e9;
  padding: 0.25rem;
}

div.padding{
  padding: 1rem;
  position: relative;
}

div.img-partner{
  background-image: url(../img/partner.png);
  background-repeat: no-repeat;
  background-size: contain;
}

div.find-partner{
  padding: 3rem 0;
}


section.partner{
  height: 30rem;
}

div.img-partner{
  width: 60%;
  height: 30rem;
  /* border: 2px dotted lime; */
}

div.find-partner{
  width: 40%;
  height: 30rem;
  /* border: 2px dotted lime; */
}

button.partner{
  border: 1px solid black;
  background-color: white;
  padding: 1rem 0.5rem;
}

section.operations{
  height: 30rem;
}

div.instrument{
  /* height: 25rem; */
  width: 20rem;
  /* border: 2px dotted lime; */
  margin: 2rem;
}

div.instrument img{
  width: 20rem;
}

div.teams{
  padding: 5rem 0;
}

section.squares{
  /* border: 2px dotted lime; */
  background-color: #f5f5f5;

}

div.square{
  /* border: 1px dotted lime; */
  width: calc(100% / 3);
  /* height: 40rem; */
}

div.square-middle{
  flex-grow: 1;
  background-color: #f5f5f5;
  /* background-image: url(../img/designit.svg);
  background-repeat: no-repeat;
  background-size: contain; */
  border: 1rem solid transparent;
}

div.mini-square{
  height: 300px;
  width: 300px;
  /* background-color: rgb(187, 49, 187); */
  /* border: 1px dotted rgb(0, 0, 0); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1rem solid transparent;
}

div.designit{
  background-color: #a2d39b;
  border: 1rem solid #d1e9cd;
  background-image: url(../img/designit.svg);
}
div.asu{
  background-color: #61082b;
  background-image: url(../img/arizona_state_university.svg);
}
div.uf{
  background-color: #0093ce;
  background-image: url(../img/university_of_florida.svg);
}
div.topps{
  background-color: #ff1c1c;
  background-image: url(../img/topps.svg);
}

div.wbr{
  background-color: #d5001f;
  background-image: url(../img/world_bicycle_relief.svg);
}
div.hearst{
  background-color: #b4d0e7;
  background-image: url(../img/hearst_corp.svg);
}
div.lonely{
  background-color: rgb(13, 36, 129);
  background-image: url(../img/lonely_planet.svg);
}
div.clearchannel{
  background-color: rgb(255, 216, 48);
  background-image: url(../img/clear_channel.svg);
}





section.free-trial{
  background-color: #b4d0e7;
  height: 20rem;
  padding-top: 9rem;
}

section.free-trial h3{
  color: #612656;
}

section.faq{
  margin: 5rem auto;
}

section.faq p{
  line-height: 500%;
  font-weight: bold;
}

section.faq hr{
  width:100%;
}


footer{
  background-color: black;
  color: white;
  height: 40rem;
  line-height: 300%;

}

section.footer{
  padding-top: 5rem;
}


section.footer ul li{
  list-style: none;
}

